<!DOCTYPE html>

<!--Displays the current path the user is on-->
<div>
    <h3>Current working directory: {{cwd}}</h3>
</div>

<!-- Input field to change the current path -->
<div>
    <form action="{{ url_for('browse_path') }}" method="post">
        <input type="text" name="path" value={{cwd}} size="50" required>
        <button type="submit">Change Path</button>
    </form>
</div>

<!-- Button to list all files/folders in the current directory -->
<div>
    <form action="{{ url_for('content') }}" method="get">
        <button type="submit" name="submitButton" value="ListFiles">List Files</button>
    </form>
</div>

<!-- Input field to search for a String in all .txt files in the current directory -->
<div>
  <form action="{{ url_for('search_files') }}" method="post">
    <input type="text" name="search_string" placeholder="Search files.." size="20" required>
    <button type="submit" name="submitButton" value="ListFiles">Search in .txt files</button>
  </form>
</div>

<!-- Input field to open a file and display it -->
<div>
    <form action="{{ url_for('read_file') }}" method="post">
        <input type="text" name="filepath"  size="20" required>
        <button type="submit">Open file</button>
    </form>
</div>

<!-- Navigate to the parent directory -->
<div>
    <form action="{{ url_for('browse_path') }}" method="post">
        <button type="submit" name="path">One directory up</button>
    </form>
</div>


<div>
    <h3>Directories:</h3>
    {% for directory in directories %}
    <p>{{ directory }}</p>
    {% endfor %}
</div>
    
<div>
    <h3>Files:</h3>
    {% for file in files %}
    <p>{{ file }}</p>
    {% endfor %}
</div>
    